examples/ddate.json
[{"id":"2ef230b2.0cdde8","type":"inject","z":"9d723a8e.4a8818","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":280,"wires":[["6ac92f57.fea8a"]]},{"id":"2de2489c.61bd98","type":"debug","z":"9d723a8e.4a8818","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":320,"wires":[]},{"id":"6ac92f57.fea8a","type":"ddate","z":"9d723a8e.4a8818","x":310,"y":320,"wires":[["2de2489c.61bd98"]]},{"id":"fc2e313e.7aa388","type":"inject","z":"9d723a8e.4a8818","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1610373399000","payloadType":"str","x":120,"y":320,"wires":[["6ac92f57.fea8a"]]},{"id":"8553fdd6.9d993","type":"inject","z":"9d723a8e.4a8818","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":100,"y":360,"wires":[["6ac92f57.fea8a"]]}]