examples/ddate.json
[{"id":"2ef230b2.0cdde8","type":"inject","z":"9d723a8e.4a8818","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":80,"wires":[["6ac92f57.fea8a"]]},{"id":"2de2489c.61bd98","type":"debug","z":"9d723a8e.4a8818","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":120,"wires":[]},{"id":"6ac92f57.fea8a","type":"ddate","z":"9d723a8e.4a8818","x":330,"y":120,"wires":[["2de2489c.61bd98","70eba26.6401d5c","26d2f5d4.bb0142"]]},{"id":"fc2e313e.7aa388","type":"inject","z":"9d723a8e.4a8818","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1610373399000","payloadType":"str","x":140,"y":120,"wires":[["6ac92f57.fea8a"]]},{"id":"8553fdd6.9d993","type":"inject","z":"9d723a8e.4a8818","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":120,"y":160,"wires":[["6ac92f57.fea8a"]]},{"id":"5441ddbb.60e72c","type":"inject","z":"9d723a8e.4a8818","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1582992606000","payloadType":"num","x":140,"y":240,"wires":[["6ac92f57.fea8a"]]},{"id":"10d7dfb1.cb4ce8","type":"comment","z":"9d723a8e.4a8818","name":"St. Tibs Day","info":"","x":130,"y":200,"wires":[]},{"id":"178e1d4a.168593","type":"inject","z":"9d723a8e.4a8818","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1594825806000","payloadType":"num","x":140,"y":320,"wires":[["6ac92f57.fea8a"]]},{"id":"a951a0d7.2245f","type":"comment","z":"9d723a8e.4a8818","name":"Confuflux","info":"","x":120,"y":280,"wires":[]},{"id":"70eba26.6401d5c","type":"debug","z":"9d723a8e.4a8818","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"date","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":160,"wires":[]},{"id":"d69a16ac.baf2","type":"comment","z":"9d723a8e.4a8818","name":"01.01.1970","info":"","x":130,"y":360,"wires":[]},{"id":"bf9c7c3f.62da38","type":"inject","z":"9d723a8e.4a8818","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1000","payloadType":"num","x":110,"y":400,"wires":[["6ac92f57.fea8a"]]},{"id":"26d2f5d4.bb0142","type":"debug","z":"9d723a8e.4a8818","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"input","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":200,"wires":[]},{"id":"bfb0293a.df8558","type":"inject","z":"9d723a8e.4a8818","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[ ]","payloadType":"json","x":110,"y":40,"wires":[["6ac92f57.fea8a"]]}]